<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>cPalette</title>
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/main.css')}}"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dongle&family=Work+Sans&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="py-2 px-4">
      <a href="/"><h1 class="text-2xl">cPalette</h1></a>
    </nav>
    <main class="flex items-center justify-center min-h-screen -mt-20 w-full">
      <h1 class="text-2xl">404 Not Found</h1>
    </main></div>

    
  </body>
</html>
